/* src/styles/App.css */
.App {
    background-color: #1a1a1a; 
    color: white;
    font-family: 'Arial', sans-serif;
    min-height: 100vh;
    box-sizing: border-box;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .navigation {
    display: flex;
    gap: 10px; 
  }
  
  .overview, .calendar {
    background-color: #333;
    border-radius: 8px;
    border: none;
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  .add-module {
    background-color: #333;
    border: none;
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    margin-top: 20px; 
    align-self: center;
    border-radius: 8px;
  }

  .small-button {
    background-color: #333;
    border: none;
    color: white;
    padding: 5px 10px;
    text-transform: uppercase;
    margin-top: 10px; 
    align-self: center;
    border-radius: 5px;
  }

.logout { 
    background-color: #333; 
    border: none; 
    color: white; 
    padding: 5px 10px; 
    text-transform: uppercase; 
    margin-top: 10px;  
    align-self: center; 
    border-radius: 4px; 
  }  

  #logout{ 
    position:absolute; 
    top:5%; 
    right:7%; 
  } 

  #logout:hover{ 
    background-color: #49e0bb; 
  } 

  #profile_pic { 
    border-radius: 50%; 
    position:absolute; 
    scale:60%; 
    top:-0.4%; 
    right:0%; 
  } 

  #profile_name { 
    position:absolute; 
    top:0%; 
    right:7%; 
  } 