/* src/styles/Module.css */
.module {
    border: 2px solid #333;
    border-radius: 8px; /* Rounded corners */
    overflow: hidden;
  }
  
  .module h2 {
    background-color: #222; /* Darker bar for the title */
    margin: 0;
    padding: 10px;
    color: #00adee; /* Light blue for the text */
    font-size: 18px;
  }
  
  .info {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: linear-gradient(to right, #bb6bd9, #d9366b); /* Gradient bar */
    color: white;
  }
  
  .days-until-exam, .study-streak {
    padding: 5px 10px;
    background-color: rgba(0,0,0,0.2); /* Slightly darker background for contrast */
    border-radius: 4px;
  }
  