/* src/styles/Module.css */
.module {
    border: 2px solid #333;
    border-radius: 8px; /* Rounded corners */
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .module h2 {
    background-color: #222; /* Darker bar for the title */
    margin: 0;
    padding: 10px;
    color: white; /* Light blue for the text */
    font-size: 18px;
  }
  
  .info {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: white;
  }
  
  /* Color classes for different modules */
  /* these aren't getting called for some reason??? */
  .module-biology .info {
    background-color: #CE51C9;
    border-radius: 10px;
    color: black;
    display: flex;
    justify-content: space-between;
  }
  
  .module-history .info {
    background-color: #B5CE51;
    border-radius: 10px;
    color: black;
    display: flex;
    justify-content: space-between;
  }
  
  /* ... additional color classes for other subjects ... */
  
  .days-until-exam, .study-streak {
    padding: 5px 10px;
    /*background-color: rgba(0,0,0,0.2); /* Slightly darker background for contrast */
    border-radius: 4px;
  }
  